<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientID</key>
	<string>22502590ac9a324c3c5cc2cebe61c13e6b7e6a18365377c38b2684f78ed8c358</string>
	<key>ClientID-2</key>
	<string>Jm_3ERuMSbEhJJhIyODQeKhNclDd4_iQjBufBLQFNu4</string>
</dict>
</plist>
